<div>
  <h1>Movies</h1>

  <%= form_with url: {controller: 'movies', action: 'index'}, method: :get do |f| %>
    <%= f.submit "検索" %>
    <%= f.text_field :query, value: @query, :placeholder => "キーワードで検索する" %>
    <%= f.radio_button :state, :all, checked: @state == 'all' %>
    <%= f.label :state_all, "すべて" %>
    <%= f.radio_button :state, :open, checked: @state == 'open' %>
    <%= f.label :state_open, "公開中" %>
    <%= f.radio_button :state, :close, checked: @state == 'close' %>
    <%= f.label :state_close, "公開予定" %>
  <% end %>

  <ul class="movie-lists">
    <% @searched.each do |movie| %>
      <li class="movie-item">
        <h3 class="movie-title" ><%= movie[:name] %></h3>
        <img class="movie-image" src="<%= movie[:image_url] %>">
      </li>
    <% end %>
  </ul>
</div>