<div>
  <%= form_with url: {controller: 'movies', action: 'index'}, method: :get, class: "form-container" do |f| %>
    <div class="search-box">
      <%= f.submit "検索", class: "search-button" %>
      <%= f.text_field :query, value: @query, :placeholder => "キーワードで検索する", class: "search-input" %>
    </div>
    <div class="radio-box">
      <%= f.radio_button :state, :all, checked: @state == 'all', class: "radio-item" %>
      <%= f.label :state_all, "すべて", class: "radio-item" %>
      <%= f.radio_button :state, :open, checked: @state == 'open', class: "radio-item" %>
      <%= f.label :state_open, "公開中", class: "radio-item" %>
      <%= f.radio_button :state, :close, checked: @state == 'close', class: "radio-item" %>
      <%= f.label :state_close, "公開予定", class: "radio-item" %>
    </div>
  <% end %>

  <ul class="movie-lists">
    <% @searched.each do |movie| %>
      <li class="movie-item">
        <h3 class="movie-title" ><%= movie[:name] %></h3>
        <img class="movie-image" src="<%= movie[:image_url] %>">
      </li>
    <% end %>
  </ul>
</div>